<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>  
   <configSections> 
    <sectionGroup name="elmah"> 
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
   
  <appSettings>
  add key="Testing" value="Demo {{TransactionID}} as reference on waybill. Pack in flyer."/>
  <add key="CourierGuySpecinstruction" value="Insert {{TransactionID}} as reference on waybill. Pack in flyer."/>
  <add key="BrotherPrinterTemplatePath" value="~/Content/MailTemplates/redblack.LBX"/>
  <add key="DeviceMismatchUrl" value="/device-recieve?EnterprisePartnerID={{EnterprisePartnerID}}&amp;OrderDetailID={{OrderDetailID}}" />
  <add key="LocationNotificationPaymentTemplatePath" value="/LocationNotificationPayment.html" />
  <add key="ftpFolderNameCapturingconditionImages" value="SellNet/CapturingconditionImages" />
  <add key="CompleteOrderDropOfftemplatepath" value="/Order_Confirmation_DropOff.html" />
  <add key="ftpShipMentInstructionFolder" value="SellNet/ShipmentInstruction" />
   <add key="BERReInspectedTemplatePath" value="/Trade-in_Value_BERReInspected.html" />
  <add key="ShipMentInstructionPDF" value="/shipping_instruction.html" />
  <add key="ftpInspectedLabelFolder" value="SellNet/InspectedLabel" />
   <add key="VATFormHTML" value="/VATform.html"/>
    <add key="ftpVATFormFolder" value="SellNet/VATForm" />
  <add key="BERQuoteAcceptTemplatepath" value="/Trade-in_Value_Revised_BER.html"/>
   <add key="FMIPLockedUnResolvedPath" value="/FMIPLockedUnResolved.html" />
    <add key="BPostXMLPath" value="~/Content/MailTemplates/1/BPost.xml"/>
    <add key="RecycleCompleteOrdertemplatepath" value="/Order_Confirmation_Recycle.html" />
    <add key="CompleteOrderContract" value="/CompleteOrderContract.html" />
    <add key="Subscribername" value="SellNet"/>
    <add key="IsWarehouse_xRequest" value="true"/>
    <add key="skippedTests" value="30,31,19,20,35,36,71"/>
    <add key="CustomSwisspostLabelTemplatePath" value="/CustomSwisspostLabel.html" />
    <add key="WarehouseXLite_UserAccountDetails" value="Warehouse-X Lite User Account Details" />
    <add key="WarehouseXLite_UserAccountDetails_Path" value="Warehouse_X_Lite_Email/WarehouseXLite_UserAccountDetails.html" />
    <add key="WarehouseXLite_CreditUsageAlert_LicenceConsumed_Subject" value="Warehouse-X Lite Credit Usage Alert; 90% consumed" />
    <add key="WarehouseXLite_CreditUsageAlert_LicenceFullConsumed_Subject" value="Warehouse-X Lite Credits Consumed" />
    <add key="WarehouseXLite_CreditUsageAlert_LicenceCreditsAdded_Subject" value="Warehouse-X Lite Credits Added" />
    <add key="WarehouseXLite_CreditUsageAlert_LicenceConsumed_Path" value="Warehouse_X_Lite_Email/beforeLicenceConsumed.html" />
    <add key="WarehouseXLite_CreditUsageAlert_FullLicenceConsumed_Path" value="Warehouse_X_Lite_Email/LicenceConsumed.html" />
    <add key="WarehouseXLite_CreditUsageAlert_AddedCreditLicence_Path" value="Warehouse_X_Lite_Email/AfterConsumeCreditsAdded.html" />
  <add key="CustomAuspostLabelTemplatePath" value="/CustomAustralianPostLabel.html" />
    <add key="FrankAuspostPrefix" value="0199312650999998911" />
    <add key="IsFrankCustomLabel" value="false" />
    <add key="AccountLockID" value="77" /> 
    <add key="EmailFrom" value="testuser@gmail.com" />   
    <add key="EmailPassword" value="jcprupwnhjzguwhm" />
    <add key="EmailPort" value="587" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="Email_EnableSsl" value="true" />
	<add key="EmailSendOtp" value="" />	
   <add key="EmailDisplayName" value="CellDe Support" />
  <add key="QuoteRejectSubject" value="Revised value rejected, device being returned for Transaction ID:{XXXX}" />
 <add key="QuoteRejecttemplatepath" value="/QuoteReject.html" />
  <add key="Warehouse_xTemplateFolder" value="~/Content/Warehouse_xTemplates/" />
  <add key="Warehouse_x_liteDevicedetailTemplate" value="html/Warehouse_x_liteDetail.html" />
  <add key="Warehouse_xDevicedetailTemplate" value="html/Warehouse_xDetail.html" />
  <add key="ReturnKitFirstPage" value="/ReturnKitFirstPage.html" />
  <add key="ReturnKitSecondPage" value="/ReturnKitSecondPage.html" /> 
  <add key="WarehouseLabeltemplatepath" value="/Label_Print.html" />
  <add key="ZeroValueDeviceModelID" value="99999" />
  <add key="Reset" value="WarehouseResetDevice"></add>
  <add key="WarehouseFMIPLocked" value="WarehouseFMIPLocked"></add>
  <add key="WarehouseFMIPUnLockedPending" value="WarehouseFMIPUnLockedPending"></add>
  <add key="WarehouseFMIPUnLocked" value="/FMIPLockedRemoved.html"></add>
  <add key="WarehouseLostStolen" value="WarehouseLostStolen"></add>
  <add key="WarehouseInspected" value="WarehouseInspected"></add>
  <add key="WarehouseReceived" value="WarehouseReceived"></add>
  <add key="Confirm" value="Confirm"></add>
	
  <add key="ShipmentDocumentTemplateFolder" value="~/Content/MailTemplates/" />
  <add key="ftpFolderNameDocumentPrinting" value="SellNet/DocumentPrinting" />
  
  <add key="LocationNotificationTemplatePath" value="/LocationNotification.html" />
  <add key="warehouse_Users" value="robin.verma@veridic.com,mandeep.singh@veridic.com,ravinder.yadav@veridic.com,sandeep.singh@veridic.com"/>
	
    <!-- Mchecm MS  -->
    <add key="MCheck3_MS_Url" value="http://mcheck-ms-api.product.veridic.local/" />
    <!-- Mcheck MS-->
  <add key="CompleteLabeltemplatepath" value="/Label_Confirmation.html" />
    <add key="HtmltoPdfExePath" value="E:\Product\WKPDF\wkhtmltopdf.exe" />
    <add key="ftpOrderLabelFolder" value="SellNet/OrderCompleteLabel" />
  
  <add key="ftpFolderNameFaultImages" value="SellNet/UploadTestFailedImage" />
  <add key="QuoteConfirmtemplatepath" value="/QuoteConfirm.html" />
    <add key="QuoteConfirmSubject" value="Quote Accepted - Trade-in complete; Transaction ID:{XXXX}" />
<add key="QuoteAcceptRejectUrl" value="/quote-accept-reject?EnterprisePartnerID={{EnterprisePartnerID}}&amp;OrderDetailID={{OrderDetailID}}"/>  
   <add key="EmailQuoteAcceptSubject" value="Trade-in Value Revised; Action Required Transaction ID:{XXXX}"></add>
    <add key="StolenDeviceSubject" value="Trade-in device received but flagged as ‘Stolen’; Trade-in Cancelled Transaction ID:{XXXX}"></add>
    <add key="FMIPLockedSubject" value="Trade-in device received with FMiP ‘Find my iPhone’ active; Action Required Transaction ID:{XXXX}"></add>
    <add key="TradeInComplete" value="Trade-in complete; Transaction ID:{XXXX}"></add>
    <add key="EmailSubject" value="Trade-in Confirmed; Transaction ID:{XXXX}"></add>
  <add key="MailTemplateFolder" value="~/Content/MailTemplates/" />
   <add key="WarehouseInspectedTemplatePath" value="/Trade-In_Complete.html" />
    <add key="FMIPLockedTemplatePath" value="/FMIP-Locked.html" />
    <add key="LostStolenTemplatePath" value="/Stolen-device.html" />
	<add key="UnexpectedTemplatePath" value="/AddUnexpected.html" />
	<add key="ReInspectedTemplatePath" value="/Trade-in_Value_ReInspected.html" />
   <add key="IsRecipero" value="false" />
  <add key="IsAustralianPost" value="true" />
  <add key="ReInspection" value="ReInspection"/>
   <!--Recipero setting-->
    <add key="ReciperoPartnerID" value="596" />
    <add key="ReciperoSecretKey" value="be6903069b80bb8f3a06" />
    <add key="ReciperoAPI" value="https://gapi.checkmend.com/" />
    <add key="ReciperoStoreID" value="1" />
    <add key="ReciperoAPIDefaultCategoryID" value="0" />
	
   <!-- <add key="fmipApi" value="https://fmipchecker-api.cellde.com/api/"/> -->
      <add key="ftpFolderNameLogistics" value="SellNet/LogisticLabels" />
   <add key="API_KEY" value="de64ea60-b2ac-426b-ade3-cf1be126f96f"></add>
    <add key="API_PWD" value="x9e70c0994ba73397b90"></add>
    <add key="ACCOUNT_NO" value="1018082620"></add>
    <add key="API_SCHEME" value="https://"></add>
    <add key="API_HOST" value="digitalapi.auspost.com.au"></add>
    <add key="API_PORT" value="443"></add>
    <add key="API_BASE_URL" value="/test/shipping/v1/"></add>
	<add key="imageUrl" value="http://SellNet-wh-web.product.veridic.local/UploadTestFailedImage/" />
   <add key="IsEncrypted" value="true"></add>
    <add key="TestTypeID" value="3"></add>  
    <!--SFTP Keys-->
    <add key="ftp" value="PC058" />
    <add key="ftpPort" value="22" />
    <add key="ftpUserName" value="celldeware" />
    <add key="ftpPassword" value="productW@2020" />
    <add key="ftpBufferSize" value="50" />
    <add key="ftpFolderName" value="SellNet/OnlineCustomerDocuments" />
    <add key="CompleteOrdertemplatepath" value="/Order_Confirmation.html" />
    <add key="EmailQueuePath" value="FormatName:Direct=OS:SV03\private$\msmq-sellnet"></add>
    
<add key="DeviceDiagnosticsSubject" value="Device Diagnostic URL"></add>
    <add key="DeviceDiagnosticsTemplatepath" value="/DeviceDiagnostics.html" />
    <add key="AccountTemplatepath" value="/AccountCreation.html" />
    <add key="EmailAccountSubject" value="Account Created"></add>
	<add key="SecretCodeTemplatepath" value="/Secret_Code.html" />
    <add key="EmailSecretCode" value="Your secret code to Self Service Trade-In Portal"></add>
  
  
    <add key="QuoteAcceptTemplatepath" value="/Trade-in_Value_Revised.html" />

   <add key="TradebleSupportEmail" value="productqa@veridic.com"></add>
    <add key="TradebleSubject" value="Non Tradeable Device"></add>
    <add key="TradebleTemplatepath" value="/DeviceTradeable.html"></add>
	
    <add key="ResendPasswordTemplatePath" value="/ResendPassword.html"/>
	    <add key="QrCodeImage" value="/RegistrationQrCode.png" />
		    <add key="PowerTestID" value="1" />
			<add key="WarehousePowerTestID" value="1,4,156"/>
			    <add key="MemoryCardRemoveID" value="5" />
   	  <add key="CompressionOnOff" value="Off"></add>
    <!--For MongoDB SV03-->
	<add key="MongoUsername" value="mongoqa"></add>  
	<add key="MongoPassword" value="2019mongoDB"></add>  
	<add key="MongoPort" value="27017"></add>  
	<add key="MongoHost" value="sv03"></add> 
	
	
    <!--For Micro Sercices -->
    
    <add key="CellDe_MasterServiceUrl" value="http://celldemaster-ms-api.product.veridic.local/"></add>
    <add key="CellDe_PartnerServiceUrl" value="http://SellNet-partner-ms-api.product.veridic.local/"></add>
    <add key="CellDe_PriceServiceUrl" value="http://SellNet-pricing-ms-api.product.veridic.local/"></add>
    <add key="CellDe_TransactionServiceUrl" value="http://SellNet-trans-ms-api.product.veridic.local/"></add> 
	
	<add key="MCheck3Point0ApiURL" value="http://mcheck-im-api.product.veridic.local/"></add> 
	<add key="MCheck3Point0ApiURL_MS" value="http://mcheck-ms-api.product.veridic.local/"></add>
	<!-- <add key="CellDe_LogisticMockAPIUrl" value="http://celldelogistic-api.product.veridic.local/"></add> -->
     <add key="ms_secretkey" value="ms_secretkey" />
    <add key="ms_appid" value="1002" />
	  <!-- For Mcheck  Microservicse-->
    <add key="mcheck_ms_secretkey" value="ms_secretkey" />
    <add key="mcheck_ms_appid" value="1001" />

	
    <!--CellDeGateWayApiKey-->
    <add key="secretkey" value="CellDeGateWayApiKey" />
    <add key="appid" value="126" />
    <!--for logging-->
    <add key="islogging" value="true" />
    <add key="logFolderName" value="Logs" />
    <add key="logPath" value="E:\Product\Logs\SellNet\Gateway\Web-Gateway-api\" />
    <!--for logging-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
	<add key="RetailSites" value="2"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="5242880"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
	  <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
	
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <!-- <dependentAssembly> -->
        <!-- <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /> -->
        <!-- <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" /> -->
      <!-- </dependentAssembly> -->
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
   <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
  </elmah>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BarcodeSoapBinding">
          <!--<security mode="Transport" />-->
          <security mode="Transport" >
            <transport clientCredentialType="Basic"></transport>
            <!--<message clientCredentialType="UserName" />-->
          </security>
        </binding>
        <binding name="BarcodeSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="https://wsbc.post.ch:443/wsbc/barcode/v2_4"
        binding="basicHttpBinding" bindingConfiguration="BarcodeSoapBinding"
        contract="SwissPostSoapService.BarcodePortType" name="BarcodePort" />
    </client>
  </system.serviceModel>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3823617E-0BAC-4711-9948-BD2E2E59EC99-->
